.page-wrap {
    overflow: visible;
    position: relative;
}

.bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

.content {
    position: relative;
  }
  